name: CI

on:
  push:
    branches: [ "main", "feature/ci-cd" ]
  pull_request:
    branches: [ "main" ]

env:
  OBJCACHE: "env" 
  CCACHE_DISABLE: 1

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Install Mill
      uses: zhutmost/setup-mill@main
      with:
        mill-version: 0.12.7
    
    - name: Cache Verilator 4.228
      id: cache-verilator
      uses: actions/cache@v3
      with:
        path: /usr/local/share/verilator
        key: verilator-4.228-v1

    - name: Install Verilator 4.228
      if: steps.cache-verilator.outputs.cache-hit != 'true'
      run: |
        sudo apt-get update
        sudo apt-get install -y git help2man perl python3 make autoconf g++ flex bison
        
        git clone https://github.com/verilator/verilator
        cd verilator
        git checkout v4.228
        
        autoconf
        ./configure
        make -j$(nproc)
        sudo make install

    - name: Setup RISCV Toolchain
      uses: gregdavill/setup-riscv-gnu-toolchain@v2.0

    - name: Run tests
      run: mill test
